<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add-Num's</title>
</head>
<body>

<h1>Addition of Number's</h1>

<form method="POST" action="/add_num_oprn">
    {% csrf_token %}
    Enter 1st number: <input type="number" name="num1" autocomplete="off" required/><br>
    Enter 2st number: <input type="number" name="num2" autocomplete="off" required/><br><br>
    <input type="Submit">&nbsp
    <a href="/add_num">Refresh</a>
</form>


<br><br>

{% block content %}

Addition = {{ result|default:0 }}

{% endblock %}


</body>
</html>